<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8">
    <!-- Billy Downing -->
    <title>GoFigure</title>
</head>
<header>
    <nav>
        {{if .Email}}
        <button>
            <a href="/logout">Logout </a>
        </button>
        <button>
            <a href={{.Role}}>Home </a>
        </button>
        <button>
            <a href="/">Index </a>
        </button>
        {{end}}
    </nav>
</header>

<body>
    <br>{{if .Email}} Email: {{.Email}}
    <br> First Name: {{.Fname}}
    <br> Last Name: {{.Lname}}
    <br> Role: {{.Role}}
    <br> {{end}}
    <br>
    <fieldset>
        <legend>Command Set</legend>
        <form action="/admin/cumulus" method="POST">
            <p>
                Device Type:
                <select name="device">
                    <option value="cumulus">Cumulus Linux</option>
                </select>
                <br>
                <input type="text" name="ipaddr" placeholder="IP Address(x.x.x.x)" required>
                <br>
                <input type="submit" value="Interface Stats">
            </p>
        </form>
    </fieldset>
</body>

</html>