<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8">
    <!-- Billy Downing -->
    <title>Admin</title>
</head>

<body>
    <h2>ADMIN ONLY:</h2>
    <br> {{if .Email}} Email {{.Email}}
    <br> First Name {{.Fname}}
    <br> Last Name {{.Lname}}
    <br> Role: {{.Role}}
    <br> {{end}}
    <a href="/">Index</a>
    <br>
    <form action="/admin/cumulus" method="POST">
        <input type="text" name="ipaddr" placeholder="IP Address(x.x.x.x)" required>
        <br />
        <input type="submit" value="Interface Stats">
    </form>
    <br>
    <h3>
        <i>
            <a href="/logout">Logout</a>
        </i>
    </h3>
</body>

</html>