<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8">
    <!-- Billy Downing -->
    <link href="static/main.css" type="text/css" rel="stylesheet">
    <title>GoFigure</title>

</head>
<header>
    <nav class="nav">
        {{if .Email}}
        <ul>
            <li>
                <a href="/logout">Logout </a>
            </li>
            <li>
                <a href={{.Role}}>Home </a>
            </li>
            <li>
                <a href="/">Index </a>
            </li>
        </ul>
        {{end}}
    </nav>
</header>

<body>
    <div class="greeting">
        Hello:
        <br>{{if .Email}} Email: {{.Email}}
        <br> First Name: {{.Fname}}
        <br> Last Name: {{.Lname}}
        <br> Role: {{.Role}}
        <br> {{end}}
        <br>
    </div>
    <div class="commandform">
        <header id="commandheader">Command Set</header>
        <br>
        <form action="/admin/cumulus" method="POST">
            <p>
                Device Type:
                <select name="device">
                    <option value="cumulus">Cumulus Linux</option>
                </select>
                <br>
                <br>
                <input type="text" name="uname" placeholder="Username" required>
                <br>
                <input type="password" name="pword" placeholder="Password" required>
                <br>
                <input type="text" name="ipaddr" placeholder="IP Address(x.x.x.x)" required>
                <br>
                <br>
                <input type="submit" name="cmd" value="Interface Stats">
                <input type="submit" name="cmd" value="Version">
                <input type="submit" name="cmd" value="Interface Config">
                <input type="submit" name="cmd" value="Configuration">
            </p>
        </form>
    </div>
</body>

</html>