<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8">
    <!-- Billy Downing -->
    <title>GoWeb</title>
</head>

<body>
    <br />{{if .Email}}
    <br />
    <h2>Welcome, {{.Fname}} {{.Lname}} </h2>
    <br />
    <h3>
        <i>
            <a href="/logout">Logout</a>
        </i>
        <br>
        <i>
            <a href={{.Role}}>Home</a>
        </i>
    </h3>
    {{end}}

    <fieldset>
        <legend>Sign In</legend>
        <h3>
            <i>
                <a href="/login">Login</a>
            </i>
        </h3>

        <h3>
            <i>
                <a href="/signup">Signup</a>
            </i>
        </h3>
    </fieldset>
</body>

</html>