<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8">
    <!-- Billy Downing -->
    <link href="static/main.css" type="text/css" rel="stylesheet">
    <title>GoFigure</title>
</head>
<header>
    <nav class="nav">
        {{if .Email}}
        <ul>
            <li>
                <a href="/logout">Logout </a>
            </li>
            <li>
                <a href={{.Role}}>Home </a>
            </li>
            <li>
                <a href="/">Index </a>
            </li>
        </ul>
        {{end}}
    </nav>
</header>

<body>
    <div class="greeting">
        <br>{{if .Email}}
        <br>
        <h2>Welcome, {{.Fname}} {{.Lname}} </h2>
        <br> {{end}}
    </div>

    <div class="index">
        <header>Sign In</header>
        <br>
        <br>
        <button id="smlbtn">
            <a href="/login">
                <h3>Login</a>
            </h3>
            </a>
        </button>
        <br>
        <br>

        <button id="smlbtn">
            <a href="/signup">
                <h3>Signup</h3>
            </a>
        </button>

    </div>
</body>

</html>