<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8">
    <!-- Billy Downing -->
    <title>GoFigure</title>
</head>
<header>
    <nav>
        {{if .Email}}
        <button>
            <a href="/logout">Logout </a>
        </button>
        <button>
            <a href={{.Role}}>Home </a>
        </button>
        <button>
            <a href="/">Index </a>
        </button>
        {{end}}
    </nav>
</header>

<body>
    <br>{{if .Email}}
    <br>
    <h2>Welcome, {{.Fname}} {{.Lname}} </h2>
    <br> {{end}}

    <fieldset>
        <legend>Sign In</legend>
        <h3>
            <i>
                <a href="/login">Login</a>
            </i>
        </h3>

        <h3>
            <i>
                <a href="/signup">Signup</a>
            </i>
        </h3>
    </fieldset>
</body>

</html>